<div class="chunky container">
	<div class="row" style="margin-left:-2px;">
		<div class="col-md-12">
			<div class="module patch-bay">
				<div class="row">
					<div class="col-md-4">
						<h1>CHUNKY WS</h1>
						<p><i>A Gregory Collett creation</i></p>
					</div>
					<div class="col-md-4">
						<div class="controls">
							<div class="row">
								<div class="col-md-8">
									<select data-ng-model="chunky.currentPatch" data-ng-options="item as item.name for item in chunky.patches.list">
									</select>
								</div>
								<div class="col-md-4">
									<button class="btn btn-save" 
										data-ng-click="chunky.savePatch()">
										SAVE
									</button>
								</div>
							</div>
							<div class="row voices">
								<div class="col-md-4">
									<p>VOICES: <span data-ng-bind="chunky.voices"></span></p>
								</div>
								<div class="col-md-4">
									<select ng-model="chunky.controlDevice" class="form-control" ng-options="device.manufacturer + ' ' + device.name for device in midiDevices.list">
									    <option value="" disabled>Choose a MIDI device...</option>
									</select>
								</div>
								<div class="col-md-4 tempo-control">
									<label>TEMPO: </label>
									<input type="number" 
										data-ng-model="chunky.tempo" 
										min="30" 
										max="220"/>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-left:-2px;">
		<div class="col-md-4">
			<!-- OSCILLATORS -->
			<div class="module">
				<div class="oscillator" data-ng-repeat="osc in chunky.oscs" data-ng-if="osc.type === 'oscillator'">
					<div class="spacer" data-ng-if="$index >= 1"></div>
					<div class="header">
						<label>
							<input data-ng-model="osc.enabled" class="enabled" type="checkbox"/>
							OSC{{$index+1}}
						</label>
						<select data-ng-model="osc.shape" class="oscillator-type">
							<option value="sine">SIN</option>
							<option value="square">SQR</option>
							<option value="sawtooth">SAW</option>
							<option value="triangle">TRI</option>
						</select>
						<label>
							<input data-ng-model="osc._fm.enabled" class="enabled" type="checkbox"/>
							FM
						</label>
						<select data-ng-model="osc.fmType" class="oscillator-type">
							<option value="sine">SIN</option>
							<option value="square">SQR</option>
							<option value="sawtooth">SAW</option>
							<option value="triangle">TRI</option>
						</select>
					</div>
					<div class="controls">
						<div class="control-pitch">
							<p class="label">OCT & TUNE</p>
							<input type="number" 
								min="0" 
								max="6" 
								data-ng-model="osc.octave" 
								class="oscillator-octave"/>
							<input type="number" 
								min="-64.00" 
								step="1" 
								max="64" 
								data-ng-model="osc.fine" 
								class="oscillator-detune"/>
						</div>
						<knob value="osc.gain" 
							label="GAIN"
							class="knob-default"
							options="{min:0, max:1, scale:0.01, class:'knob-default', speed:0.1}">
						</knob>
						<knob value="osc.fmGain" 
							label="FM GN"
							class="knob-default knob-small"
							options="{min:-1000, max:1000, scale:0.5, class:'knob-default'}">
						</knob>
						<!-- <knob value="osc.fmFrequency" 
							label="FM FQ"
							class="knob-default knob-small"
							options="{min:0, max:1000, scale:1, class:'knob-default'}">
						</knob> -->
					</div>
				</div>
			</div>
			<!-- MODULATION OSC -->
			<div class="module">
				<div class="header">
					<label>
						<input class="enabled" type="checkbox"/>
						MOD OSC
					</label>
				</div>
				<div class="controls">
					<div class="col-md-6">
						
					</div>
					<div class="col-md-6">
						<table class="table chunky-table">
							<thead>
								<tr>
									<th>Mode</th>
									<th>Oscs</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Ring Mod</td>
								</tr>
								<tr>
									<td>Phase</td>
								</tr>
								<tr>
									<td>Position</td>
								</tr>
								<tr>
									<td>Filter FM</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p class="text-center coming-soon">COMING SOON!</P>
				</div>
			</div>
			<!-- NOISE -->
			<div class="module">
				<div class="header">
					<label>
						<input data-ng-model="chunky.noise.enabled" class="enabled" type="checkbox"/>
						NOISE
					</label>
					<select data-ng-model="chunky.noise.generator">
						<option value="white">WHITE</option>
						<option value="pink">PINK</option>          
						<option value="brown">BROWN</option>
					</select>
				</div>
				<div class="controls">
					<knob label="GAIN"
						value="chunky.noise.gain"
						class="knob-default"
						options="{min:0, max:0.5, scale:0.01, class:'knob-default', speed:0.01}">
					</knob>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<!-- FILTERS -->
					<div class="module filters">
						<div class="row">
							<div class="filter-mix">
								<p class="label">MIX</p>
								<div class="controls">
									<input type="range" 
										class="slider" 
										orient="vertical" 
										min="0" max="1" 
										step="0.01" 
										data-ng-model="chunky.vcfMix" />
								</div>
								<div class="spacer-vertical"></div>
							</div>
							<div class="filter-list">
								<div class="filter" data-ng-repeat="filter in chunky.filters">
									<div class="spacer" data-ng-if="$index >= 1"></div>
									<div class="header">
										<label>
											<input data-ng-model="filter.enabled" class="enabled" type="checkbox"/>
											VCF {{$index + 1}}
										</label>
										<select data-ng-model="filter.type">
											<option value="lowpass">LP</option>
											<option value="bandpass">BP</option>          
											<option value="highpass">HP</option>          
											<option value="notch">NTC</option>
										</select>
									</div>
									<div class="controls">
							            <knob value="filter.frequency" 
							            	min="filter.meta.params.frequency.min"
							            	max="filter.meta.params.frequency.max"
							            	scale="0.1"
							            	speed="0.5"
							            	class="knob-default"
							            	options="{min:0, max:1, scale: 0.001, class:'knob-default', speed: 0.1}" 
							            	label="CUT">
							            </knob>
							            <knob value="filter.resonance" 
							            	min="filter.meta.params.resonance.min"
							            	max="filter.meta.params.resonance.max"
							            	scale="0.1"
							            	speed="1"
							            	class="knob-default"
							            	options="{min:0, max:1, class:'knob-default', speed: 0., scale: 0.001}" 
							            	label="RES">
							            </knob>
							        </div>
							    </div>
							</div>
						</div>
					</div>
					<!-- OSCILLOSCOPE 
					<div class="module" style="padding:0; border-radius:5px;">
						<oscilloscope analyser="chunky.analyser" width="10" height="87" style="border-radius:3px;"></oscilloscope>
					</div>-->
				</div>
				<div class="col-md-6">
					<div class="module">
						<!-- DISTORTION -->
						<div class="effect">
						  	<div class="header">
						  		<label>
						  			<input data-ng-click="chunky.distortion.toggleEnabled()" class="enabled" type="checkbox"/>
						  			DISTORTION
						  		</label>
								<select data-ng-model="chunky.distortion.waveShaper.oversample">
									<option value="none">NONE</option>
									<option value="2x">2x</option>
									<option value="4x">4x</option>
								</select>
							</div>
							<div class="controls">
								<knob value="chunky.distortion.preBand" 
								min="chunky.distortion.meta.params.preBand.min"
								max="chunky.distortion.meta.params.preBand.max"
								step="0.01"
								speed="1"
								label="BND"
									options="{}"
								class="knob-default"></knob>
								<knob value="chunky.distortion.colour" 
								min="chunky.distortion.meta.params.colour.min"
								max="chunky.distortion.meta.params.colour.max"
								speed="1"
								step="1"
								label="COL"
									options="{}"
								class="knob-default"></knob>
								<knob value="chunky.distortion.drive" 
								min="chunky.distortion.meta.params.drive.min"
								max="chunky.distortion.meta.params.drive.max"
								speed="1"
								step="0.01"
									options="{}"
								label="DRV"
								class="knob-default"></knob>
								<knob value="chunky.distortion.postCut"
								min="chunky.distortion.meta.params.postCut.min"
								max="chunky.distortion.meta.params.postCut.max"
								speed="1"
								step="1" 
									options="{}"
								label="CUT"
								class="knob-default"></knob>
							</div>
						</div>
						<!-- REVERB -->
					  	<div class="effect">
							<div class="spacer"></div>
					  		<div class="header">
					  			<label>
					  				<input data-ng-click="chunky.reverb.toggleEnabled()" class="enabled" type="checkbox"/>
					  				REVERB
					  			</label>
					  		</div>
							<div class="controls">
								<knob label="SECS"
									value="chunky.reverb.seconds"
									min="0.1"
									max="10"
									step="0.01"
									speed="0.5"
									options="{}"
									class="knob-default">
								</knob>
								<knob label="DCY"
									value="chunky.reverb.decay"
									min="0.01"
									max="10"
									step="0.01"
									speed="0.5"
									options="{}"
									class="knob-default">
								</knob>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- AMP -->
					<div class="module">
						<div class="col-md-6">
							<div class="header">
								<p>AMP</p>
							</div>
							<div class="controls">
								<knob value="" 
									label="PAN" 
									class="knob-default"
									options="{min:0, max:1, scale: 0.01, speed:0.1}"></knob>
								<knob value="chunky.masterGain" 
									label="MASTER" 
									class="knob-default"
									options="{min:0, max:1.2, scale: 0.01, speed:0.1}"></knob>
							</div>
						</div>
						<div class="col-md-6">
							<div class="header">
								<p>EQ</p>
							</div>
							<div class="controls">
								<knob value="chunky.equalizer.lowBoost"
									label="BST"
									class="knob-default knob-small"
									min="0"
									max="100"
									speed="0.1"
									step="0.01"
									options="{}"
									style="margin-right: 0;padding-right: 0;">
								</knob>
								<knob value="chunky.equalizer.low"
									label="LOW"
									class="knob-default"
									min="0"
									max="100"
									speed="0.1"
									step="0.01"
									options="{}">
								</knob>
								<knob value="chunky.equalizer.mid"
									label="MID"
									class="knob-default"
									min="0"
									max="100"
									speed="0.1"
									step="0.01"
									options="{}">
								</knob>
								<knob value="chunky.equalizer.high"
									label="HIGH"
									class="knob-default"
									min="0"
									max="100"
									speed="0.1"
									step="0.01"
									options="{}">
								</knob>
							</div>
						</div>
					</div>
					<div class="module tabable">
						<div class="controls">
							<div class="row">
								<tabset>
									<tab heading="VCF ENV" class="env">
										<div class="row">
											<envelope params="chunky.vcfEnvelope" inverted="chunky.vcfEnvelope.inverted" width="515" height="130"></envelope>
										</div>
										<div class="row">								
											<div class="param">
												<knob label="ATK" 
													class="knob-classic"
													value="chunky.vcfEnvelope.attack" 
													options="{min:0.1, max:50000, step: 0.1, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="DEC" 
													class="knob-classic"
													value="chunky.vcfEnvelope.decay" 
													options="{min:0.1, max:50000, step: 0.1, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="SUS" 
													class="knob-classic"
													value="chunky.vcfEnvelope.sustain" 
													options="{min:0.001, max:100, step: 0.1, speed: 0.1, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="REL" 
													class="knob-classic"
													value="chunky.vcfEnvelope.release" 
													options="{min:0.001, max:50000, step: 0.1, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<p class="label">
													RETRIG
												</p>
													<input data-ng-model="chunky.vcfEnvelope.reTrigger" class="enabled retrig" type="checkbox"/>
											</div>
											<div class="param">
												<p class="label">
													INVERT
												</p>
													<input data-ng-model="chunky.vcfEnvelope.inverted" class="enabled retrig" type="checkbox"/>
											</div>
										</div>
									</tab>
									<tab heading="VCA ENV" class="env">	
											<div class="row">
												<envelope params="chunky.vcaEnvelope" 
													width="515" 
													height="130" 
													inverted="chunky.vcaEnvelope.inverted">
												</envelope>
											</div>
										<div class="row">							
											<div class="param">
												<knob label="ATK" 
													class="knob-classic"
													value="chunky.vcaEnvelope.attack" 
													options="{min:0, max:50000, step: 5, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="DEC"
													class="knob-classic" 
													value="chunky.vcaEnvelope.decay" 
													options="{min:0.1, max:50000, step: 5, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="SUS" 
													class="knob-classic"
													value="chunky.vcaEnvelope.sustain" 
													options="{min:0.001, max:100, step: 0.1, speed: 0.1, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="REL"
													class="knob-classic" 
													value="chunky.vcaEnvelope.release" 
													options="{min:0.001, max:50000, step: 5, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<p class="label">
													RETRIG
												</p>
													<input data-ng-model="chunky.vcaEnvelope.reTrigger" class="enabled retrig" type="checkbox"/>
											</div>
											<div class="param">
												<p class="label">
													INVERT
												</p>
													<input data-ng-model="chunky.vcaEnvelope.inverted" class="enabled retrig" type="checkbox"/>
											</div>
										</div>
									</tab>
									<tab heading="ENV 1" class="env">	
										<div class="row">
											<envelope params="chunky.env1" width="515" height="130"></envelope>
										</div>
										<div class="row">								
											<div class="param">
												<knob label="ATK"
													class="knob-classic" 
													value="chunky.env1.attack" 
													options="{min:0.1, max:50000, step: 0.1, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="DEC" 
													class="knob-classic"
													value="chunky.env1.decay" 
													options="{min:0.1, max:50000, step: 0.1, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="SUS" 
													value="chunky.env1.sustain" 
													class="knob-classic"
													options="{min:0.001, max:100, step: 0.1, speed: 0.1, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="REL" 
													value="chunky.env1.release" 
													class="knob-classic"
													options="{min:0.001, max:50000, step: 0.1, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<p class="label">
													RETRIG
												</p>
													<input data-ng-model="chunky.env1.reTrigger" class="enabled retrig" type="checkbox"/>
											</div>
											<div class="param">
												<p class="label">
													INVERT
												</p>
													<input data-ng-model="chunky.env1.inverted" class="enabled retrig" type="checkbox"/>
											</div>
										</div>
									</tab>
									<tab heading="ENV 2" class="env">
										<div class="row">
											<envelope params="chunky.env2" width="515" height="130"></envelope>
										</div>
										<div class="row">								
											<div class="param">
												<knob label="ATK" value="chunky.env2.attack" class="knob-classic" o options="{min:0.1, max:50000, step: 0.1, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="DEC" value="chunky.env2.decay" class="knob-classic" o options="{min:0.1, max:50000, step: 0.1, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="SUS" value="chunky.env2.sustain" class="knob-classic" o options="{min:0.001, max:100, step: 0.1, speed: 0.1, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<knob label="REL" value="chunky.env2.release" class="knob-classic" options="{min:0.001, max:50000, step: 0.1, speed: 3, class: 'knob-classic'}"></knob>
											</div>
											<div class="param">
												<p class="label">
													RETRIG
												</p>
													<input data-ng-model="chunky.env2.reTrigger" class="enabled retrig" type="checkbox"/>
											</div>
											<div class="param">
												<p class="label">
													INVERT
												</p>
												<input data-ng-model="chunky.env2.inverted" class="enabled retrig" type="checkbox"/>
											</div>
										</div>
									</tab>
									<tab heading="LFO 1" class="lfo">
										<div class="row">
											<div class="param">
												<p class="label">SYNC</p>
												<input data-ng-model="chunky.lfo1.sync" 
													class="enabled retrig" 
													type="checkbox"/>
											</div>
											<div class="param" data-ng-if="!chunky.lfo1.sync">
												<knob label="{{chunky.lfo1.params.frequency.label}}"
													value="chunky.lfo1.frequency"
													step="chunky.lfo1.params.frequency.step"
													min="chunky.lfo1.params.frequency.min"
													max="chunky.lfo1.params.frequency.max"
													speed="0.5"
													class="knob-classic"
													options="{}">
												</knob>
											</div>
											<div class="param" data-ng-if="chunky.lfo1.sync">
												<p class="label">RATE</p>
												<select></select>
											</div>
											<div class="param">
												<knob label="{{chunky.lfo1.params.gain.label}}"
													value="chunky.lfo1.gain"
													step="chunky.lfo1.params.gain.step"
													min="chunky.lfo1.params.gain.min"
													max="chunky.lfo1.params.gain.max"
													speed="031"
													class="knob-classic"
													options="{}">
												</knob>
											</div>
										</div>
									</tab>
									<tab heading="LFO 2" class="lfo"></tab>
									<tab class="settings">
										<tab-heading><i class="glyphicon glyphicon-cog"></i></tab-heading>
										<div class="row">
											<div class="param">
												<p class="label">
													POLY
												</p>
													<input data-ng-model="chunky.polyphony" 
														class="enabled retrig" 
														type="checkbox"/>
											</div>
											<div class="param">
												<p class="label">
													GLIDE
												</p>
													<input data-ng-model="chunky.glide" 
														class="enabled retrig" 
														type="checkbox"/>
											</div>
											<div class="param">
												<knob label="GLD AMT"
													value="chunky.glideAmount"
													step="0.01"
													min="0"
													max="1"
													speed="0.3"
													class="knob-classic"
													options="{}">
												</knob>
											</div>
										</div>
										<div class="row">
											<p style="margin-bottom:0;">CHUNKY WEB SYNTHESIZER</p>
											<p style="margin-bottom:0;"><i>A Gregory Collett Creation</i></p>
										</div>
									</tab>
								</tabset>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="intro">
	<h1>CHUNKY WS</h1>
	<small>(WEB SYNTHESIZER) In development</small>
	<small><a href="javascrip:void(0)" data-ng-click="overlay.toggle()">-- info --</a></small>
</div>
<div class="overlay" data-ng-class="{toggled: overlay.toggled}" data-ng-click="overlay.toggle()">
	<h2>WHAT IS CHUNKY</h2>
	<p>CHUNKY IS A BROWSER BASED SYNTHESIZER UTILIZING SOME COOL WEB TECHNOLOGIES.</p>
	<h2>HOW TO USE CHUNKY</h2>
	<p>ENABLE OSCILLATORS. FIDDLE WITH KNOBS (NO PUN INTENDED). TRY PRESSING YOUR QWERTY KEYBOARD :D</p>
	<h2>KNOWN BUGS</h2>
	<p>ENVELOPE GENERATORS - MULTIPLE</P>
	<p>CRAZY CLICKING! ANNOYING CLICK WHATEVER YOU WANT TO CALL IT</p>
	<p>KNOBS - SET HANDLE TO CURRENT/DEFAULT VALUE</p>
	<p>ISSUE WITH POLYPHONY ONLY WITH SOME KEYS...</p>
	<h2>TODOS</h2>
	<p>FIX BUGS :D</p>
	<p>ADD MORE WAVE TYPES TO OSCILLATORS</p>
	<p>ADD MIDI AND NOTE VELOCITY SUPPORT</p>
	<p>ADD INSERTS FOR EFFECTS (I HAVE ALREADY CREATED/REPLICATED A NUMBER OF EFFECTS)</p>
	<p>ADD MULTITOUCH SUPPORT</p>
	<p>CREATE MODULATION OSC (NOT AN LFO BUT A HFO FOR RINGMOD AND SUCH)</p>
	<p>ADD MORE FILTER TYPES</p>
	<p>ADD HOLD TO ENVELOPES</p>
	<p>ADD ATTACK TO LFO</p>
	<p>ALLOW ALL MODULATABLE PARAMS TO HAVE A RANGE</p>
	<button data-ng-click="overlay.toggle()" class="btn btn-default btn-chunky">GET TO PLAYING</button>
</div>
<div class="keyboard" data-ng-class="{toggled: keyboard.visible}">
	<button class="btn btn-keyboard" data-ng-click="keyboard.toggle()">Keyboard</button>
	<div keyboard id="keyboard" keyup="keyboard.keyup" keydown="keyboard.keydown" polyphonic="true"></div>
</div>